.redFont{
    color: red;
}

.greenFont{
    color: green;
}

.purpleBlock{
    background-color: purple;
    color: antiquewhite;
}

.yellowBlock{
    background-color: yellow;
    color: darkblue;
}